<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcb197">  <td>19/07/18 15:25:33</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;contentstaging1.closeBrowser()[pri:0, instance:frameworkdata.contentstaging1@7b02881e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>19/07/18 15:23:33</td>   <td>-120500</td> <td>&nbsp;</td><td title="&gt;&gt;contentstaging1.driverinitialize()[pri:0, instance:frameworkdata.contentstaging1@7b02881e]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@57497692</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>19/07/18 15:23:38</td>   <td>-115350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="contentstaging1.testname()[pri:0, instance:frameworkdata.contentstaging1@7b02881e]">testname</td> 
  <td>main@57497692</td>   <td></td> </tr>
</table>
