<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92be74">  <td>19/06/19 14:19:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;contentstaging1.driverinitialize()[pri:0, instance:frameworkdata.contentstaging1@15ca7889]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="92be74">  <td>19/06/19 14:19:57</td>   <td>4597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="contentstaging1.testname()[pri:0, instance:frameworkdata.contentstaging1@15ca7889]">testname</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="92be74">  <td>19/06/19 14:22:37</td>   <td>163898</td> <td>&nbsp;</td><td title="&lt;&lt;contentstaging1.closeBrowser()[pri:0, instance:frameworkdata.contentstaging1@15ca7889]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>19/06/19 14:22:38</td>   <td>164917</td> <td>&nbsp;</td><td title="&gt;&gt;contentstaging2.driverinitialize()[pri:0, instance:frameworkdata.contentstaging2@568ff82]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>19/06/19 14:22:41</td>   <td>168112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="contentstaging2.testname()[pri:0, instance:frameworkdata.contentstaging2@568ff82]">testname</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="8ff871">  <td>19/06/19 14:24:35</td>   <td>281912</td> <td>&nbsp;</td><td title="&lt;&lt;contentstaging2.closeBrowser()[pri:0, instance:frameworkdata.contentstaging2@568ff82]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>19/06/19 14:24:36</td>   <td>282719</td> <td>&nbsp;</td><td title="&gt;&gt;contentstaging3.driverinitialize()[pri:0, instance:frameworkdata.contentstaging3@757acd7b]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>19/06/19 14:24:39</td>   <td>285871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="contentstaging3.testname()[pri:0, instance:frameworkdata.contentstaging3@757acd7b]">testname</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>19/06/19 14:26:43</td>   <td>409854</td> <td>&nbsp;</td><td title="&lt;&lt;contentstaging3.closeBrowser()[pri:0, instance:frameworkdata.contentstaging3@757acd7b]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/06/19 14:26:43</td>   <td>410606</td> <td>&nbsp;</td><td title="&gt;&gt;contentstaging4.driverinitialize()[pri:0, instance:frameworkdata.contentstaging4@71c3b41]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/06/19 14:26:47</td>   <td>413816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="contentstaging4.testname()[pri:0, instance:frameworkdata.contentstaging4@71c3b41]">testname</td> 
  <td>main@773662650</td>   <td></td> </tr>
<tr bgcolor="78b3da">  <td>19/06/19 14:29:23</td>   <td>569646</td> <td>&nbsp;</td><td title="&lt;&lt;contentstaging4.closeBrowser()[pri:0, instance:frameworkdata.contentstaging4@71c3b41]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@773662650</td>   <td></td> </tr>
</table>
